# postgres major version
DB_VERSION=16
# database credentials
DB_PASSWORD=affine
DB_USERNAME=affine
DB_DATABASE_NAME=affine
# exposed ports (optional overrides for compose)
AFFINE_DB_PORT=5432
AFFINE_REDIS_PORT=6379
AFFINE_MAILHOG_SMTP_PORT=1025
AFFINE_MAILHOG_HTTP_PORT=8025
AFFINE_MANTICORE_PORT=9308

# elasticsearch env
# ELASTIC_VERSION=9.0.1
# enable for arm64, e.g.: macOS M1+
# ELASTIC_VERSION_ARM64=-arm64
# ELASTIC_PLATFORM=linux/arm64

# manticoresearch
MANTICORE_VERSION=10.1.0
